<div id="notes-app">
    <!-- Nav Bar -->
    <div class="nav-bar brdr-bottom">
        <span class="material-symbols-outlined menu" (click)="openSideMenu()"> menu </span>
        <span class="material-symbols-outlined">
            local_fire_department
        </span>
        <span> Fundoo Notes APP </span>
        <div>
            <span class="material-symbols-outlined">
                search
            </span>
            <input type="text" placeholder="Search">
        </div>
    </div>
    <side-navbar></side-navbar>

</div>
