:host {
    #notes-app {
        /* variables */
        $brdr-color: #5f636860;

        /* custom classes */

        /* navbar */
        .nav-bar {
            display: flex;
            justify-content: start;
            border-bottom: 1px solid $brdr-color;
            padding: 1vmin;
            .menu {
                cursor: pointer;
            }
        }
    }
}

