@import '../../../styles.scss';


:host {
    #notes-app {
        /* navbar */
        .nav-bar {
            height: 8vh;
            display: flex;
            justify-content: start;
            border-bottom: 1px solid $brdr-color;
            .menu {
                cursor: pointer;
            }
        }
    }
}

