/* You can add global styles to this file, and also import other style files */
/* variables */
$brdr-color: #5f636860;
$brdr-radius: 7px;
$font-default-color: #5f6368;

body {
    margin: 0px;
    font-family: "Product Sans", Arial, sans-serif;
    color: $font-default-color;
}
